{% extends 'software_training/training/admin/base_admin.html' %}
{% load static %}
{% block content %}
<div class="row" style="padding-top: 20px;">
    <div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 grid-margin ">
        <div class="card">
            <div class="card-body" style="height:auto">
                <div class="row" style="padding-top:20px">


                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h3 class="mb-0" style="color:white;font-size:20px; ">python</h3>
                        </div>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                        <img src="{% static 'coures/python.png' %}" style="height: 50px; width: 50px;">
                    </div>





                </div>
                <div class="row" style="padding-top:20px">


                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h3 class="mb-0" style="color:white;font-size:20px; ">Duration</h3>
                        </div>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                        6 Months
                    </div>





                </div>
                <div class="row" style="padding-top:20px">


                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h3 class="mb-0" style="color:white;font-size:20px; ">Sylabus</h3>
                        </div>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 ">
                        <a href="#">
                            <div class="badge badge-outline-primary">Download</div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>


{% endblock %}