{%extends 'software_training/training/account/base_accounts.html'%} {% load static %} {% block content %}

<div class="card mt-3 mb-5">
    <div class="card-body">
        <form class="form-sample">
            <div class="row">
                <div class="col-8 col-md-10 mt-3">
                    <h4 class="card-description"> Personal Information </h4>
                </div>
                <div class="col-4 col-md-2">
                    <img src="{% static 'softwareapp/assets/images/faces/face5.jpg' %}" class="img-fluid rounded-circle mb-3 " alt="image" style="margin-right:20px">
                </div>
            </div>
            <p class="card-description"> Personal details </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-6 col-form-label">Full Name:</label>
                        <div class="col-6">
                            <p class="mt-2">John Smith</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-6 col-form-label">Gender:</label>
                        <div class="col-6">
                            <p class="mt-2">Male</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-6 col-form-label">Date of Birth:</label>
                        <div class="col-6">
                            <p class="mt-2">22/02/1999</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-6 col-form-label">Category:</label>
                        <div class="col-6">
                            <p class="mt-2">Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-6 col-form-label">Trainer Name</label>
                        <div class="col-6 ">
                            <p class="mt-2">asdas</p>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
                <p class="card-description"> Address</p>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-6 col-form-label">Address1:</label>
                        <div class="col-6">
                            <p class="mt-2">Infox Kakkanad</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-6 col-form-label">State:</label>
                        <div class="col-6">
                            <p class="mt-2">Kerala</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-6 col-form-label">Address2:</label>
                        <div class="col-6">
                            <p class="mt-2">Infox Kakkanad</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-6 col-form-label">Postcode:</label>
                        <div class="col-6">
                            <p class="mt-2">846500</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-6 col-form-label">City:</label>
                        <div class="col-6">
                            <p class="mt-2">Ernakulam</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-6 col-form-label">Country:</label>
                        <div class="col-6">
                            <p class="mt-2">India</p>
                        </div>
                    </div>
                </div>

        </form>
        </div>
    </div>
</div>

<div class="row" style="padding-top:20px;">
    <div class="col-sm-6 grid-margin">
        <a href="/accounts_payment_salary/" style="text-decoration:none;">
            <div class="card" style="height: 200px">
                <div class="card-body">
                    <div class="row" style="padding-top:10px;">
                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                <h3 class="mb-0" style="color:white;">Salary Given</h3>
                            </div>
                        </div>
                        <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                            <i class="icon-lg mdi mdi-currency-usd  text-success ms-auto"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 grid-margin">
        <a href="/accounts_payment_view/" style="text-decoration:none;">
            <div class="card" style="height: 200px">
                <div class="card-body">
                    <div class="row" style="padding-top:10px;">
                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                <h3 class="mb-0" style="color:white;">View Details</h3>
                            </div>
                        </div>
                        <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                            <i class="icon-lg mdi mdi-table text-warning ms-auto"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>


{%endblock%}