{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'Architecture/Group3archMaincover.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 10%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }



</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Architectural companies
            </h3>
            <p>
                Facilezone is one of the most outstanding programming to helps in further develop
                organization exercises. Facilezone will serves to safe store his work subtleties , give work to his
                representatives and effectively recognize laborers compensation subtleties ,the executives can undoubtedly
                talk with his groups . so the talk with group assists with distinguishing laborers issues
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Easily manage your employees with Facilezone
                </p>
                <p id="six">
                    Facilezone will serve to dealing with all employees everyday works . in the utilization
                    our software  they give employees work appropriately so workers can no confused his work . our
                    software  can recording all employees details and work reports day to day.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" loading="lazy" src= {% static  'Architecture/ac2.jpg' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%" alt="Error404!!!" loading="lazy" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Loaded with interesting features
                </p>
                <p id="six">
                    Each architectural company doing in many design works , building works and 3D
                    modelling works . Mange Zone software is the very power full tool in all design works and 3D
                    modelling works . very interesting feature  can giving each works field . so our software  is
                    more valuable tool in this industry .
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                    Facilezone software  is very important  in architectural  industry , they assisted with keeping
                    all employees details , workers orderlies details , computing salary details  and store all organization private
                    data well secure . so our product is more utilize full in this field . company everyday status simple to analysing
                    and the management needed time they will present all details data in a single frame. so this is the user friendly
                    software , and more secured software.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Managers
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    All compositional firm principle job taking care of in chief so administrator can
                    face more challenges . In the event that your pick our product they will helped in administrators
                    work . our product helped available and recorded full representatives complete profiles ,
                    point by point report of all specialists in day - to-day . Facilezone will help simple to
                    distinguish the number of representatives in your organization and they are doing which works .
                    numerous organization seeing numerous issues particularly the executives and his representatives
                    the justification for this is trough can't appropriate visit with his group our item will permit
                    the legitimate talking framework in supervisor and him groups on the off chance that organization
                    stay away from workers issues .
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Architecture/ac4.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Architecture/ac5.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Prioritization
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     By using our software in your business we promise that your organization performance
                     will increased . Every company give important his clients , all clients satisfaction is the more
                     profit . so the clients needed his works completed in correct time . Our Facilezone is a further
                     developed gadget in this field to help the clients with finishing their work on time and lessen
                     the strain and obligation. We have an instrument called prioritization which will help the client
                     with charting their work as shown by their need and can complete their work on time and can chip
                     away at their work interaction.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Accounts section
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    We giving the one of the most mind-blowing programming to further develop your bookkeeping
                    work effectively. Mange Zone can store enormous number of workers subtleties and his everyday
                    participation subtleties . so the bookkeeper can just computing all workers pay rates . In the
                    utilization of our product decreasing records work and bookkeeper can without much of a stretch
                    utilize our product . In the structural organizations handle in number of bills , the bookkeeper
                    should realize the number of bills keep in our association . Oversee Zone programming store all
                    bills subtleties securely .
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Architecture/ac6.jpg' %}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Architecture/ac7.jpg'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Management schedule
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                    schedule management  is additionally a piece of architectural company since they
                     have doing many projects in every day. By utilizing the Manage  zone one can just assign their
                     work on various stage and can keep track on all of their undertaking with no issues. Utilizing
                     this will likewise save the time and will give more powerful outcome by satisfying practically
                     everything on booked date. And furthermore you can make the ideal documentation about your works
                     and can make the reports in a solitary system.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Bill of material
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Architectural organization needed lump materials so organization can buy enormous amount
                    things in many places . In the event that organization can deal with more bills in day to day
                    transactions . you can utilize our product all charging subtleties will effortlessly deal with
                    and store all bills, the administration required bill subtleties they can accessible in single
                    casing . so the board will known the number of buying his organization . Completing the project
                    in appropriate time organization can get ready all out bill in his work , it is the intense
                    undertaking in charging area . In the utilization Facilezone will help for formation of all
                    out bill in essentially and cautiously so organization time wastage diminished.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Architecture/ac8.jpg'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Architecture/ac9.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Project planner
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     MaArranging is the significant components in design organizations , any venture will
                     beginning in arranging insightful so you can choose our product they will helped in adaptable arranging
                     . utilizing this product you can total the data the fundamental for project advancement stage.
                     the portion and arranging of assignments can be effectively overseen. every advancement stage
                     can be checked with ongoing controls. In legitimate directing in arranging time your undertaking
                     will completed in the cutoff time . so your association execution will expanded.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                   Manage attendance
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Attendance tracking is one of the fundamental components of architectural company .
                    The Facilezone is well effective in monitoring each day's participation. Appropriate management
                    of attendance  of staffs can develop well work results. It can provide you with an outline of how
                    much leave they have taken. It likewise assists you with rearrange his works in light of the fact
                    that the shortfall of the staffs can't influence the progress of work . You can also receive about
                    the outline of attendance .
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Architecture/ac10.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Architecture/ac11.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Proper time management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     By the utilization of Facilezone programming the board can give his laborers working
                     time appropriately . In a architectural organizations number of employees are working in each work
                     so the management give appropriate time with the help of our software so  laborers start his work
                     right time and all works will completed in regular time on the off chance that organization generosity
                     expanded and organization run in efficiently.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                   Staff observation
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    The headway of your working system depends upon the staffs. It incorporates both educated and
                    non-educated staffs. In this way, it is significant monitor the staffs and their endeavors.
                    This software can undoubtedly keep you refreshed with regards to the advancement made by each staff.
                    You will get advised at whatever point project is finished and how much of time they require to
                    finish that work so you can arrange and appoint over time work to the desired staff.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Architecture/ac13.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Architecture/ac14.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Reporting work details
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                    Its the main element in every organization in light of the fact that the management can
                    information pretty much all works subtleties so consistently to day work subtleties should store in
                    all organizations . Any enquiry comes in business that time putting away work subtleties more help
                    full in management . so our product is giving automatically recording every single work subtleties
                    and keep in well secure . In the utilization Facilezone the board known all work status and they
                    can give working directions to his employees . so the employees can improve his work , work will
                    completed before in cutoff time.
                 </p>
             </div>
         </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>



</body>
{% endblock %}