{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'construction/cc1.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 10%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }

</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Construction companies
            </h3>
            <p>
                Time is one of the most valuable assets in construction work . so we are fostered
                one of the most incredible software  “Facilezone “. This software  supportive in all development
                works in single frame.
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Easily manage your employees with Facilezone
                </p>
                <p id="six">
                    Every construction industries is make mistakes happened for dealing with his all employees.
                    This issue will affected in company running .Our Facilezone software will recording all workers issues
                    so the management can simple to oversee employees issues and solve in effectively . The Facilezone is
                    easy to control all employees work and his problems.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" loading="lazy" src= {% static  'construction/cc2.jpg' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%" alt="Error404!!!" loading="lazy" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Loaded with interesting features
                </p>
                <p id="six">
                    In a construction industries there are many works doing in every department,
                    so you can choose our Facilezone software  they giving many highlights to use in every department
                    so natural to keep up with all work and furthermore easy to use.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                    In the Facilezone software  can give main feature to constructing industry . management can assist with
                    saving time and work on his work . Facilezone  is working in second supervisor in construction organization .
                    They can keep up with all employees details and workers attendants detail so the manager can simple to calculating
                    workers salary details . our product can store all company project details  and all company data well secure .
                    so Facilezone is the safer software  in construction field .
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Manager
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    In a development field number representatives are working so the administrator can check
                    each worker subtleties is incomprehensible . so the utilization of Facilezone the director can
                    assist with checking the all workers subtleties and view representatives profiles in an equivalent
                    page . In the compensation date chief should know the all representatives participation to provide
                    for pay in all laborers so this product deal with all workers participation subtleties in all stirring
                    days cutting-edge representatives subtleties will refreshed in this product and furthermore appoint
                    all site works in this product.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'construction/cc4.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'construction/cc5.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Accounts Section
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     All development organization significant work managing in accounts area pay ,
                     charging , re charging , absolute bill creation and so on are more barren works handle in the
                     bookkeeping segment , so the utilization of Facilezone basically and cautiously handle ,
                     All representatives pay subtleties effectively compute and the buying things bill or re charging
                     subtleties will store in this product effectively . In the organization month to month compute
                     absolute bill creation is the one more fundamental capacity of Facilezone programming .
                     In the utilization of this product more assistance full in bookkeeping segment .
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Prioritization
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Each association have cutoff time to finish their work and it could be so difficult to
                    complete their work on time on account of the responsibility they have. So every organization need to
                    work additional chance to complete their work on schedule. Facilezone is an improved device in this
                    field to assist the customers with completing their work on schedule and diminish the pressure and
                    responsibility. We have an instrument called prioritization which will assist the customer with graphing
                    their work as indicated by their need and can finish their work on schedule and can work on their
                    work process
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'construction/cc6.jpg' %}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'construction/cc7.jpg'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Employees
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     In a development field all representatives should give work report in every day ,
                     so the workers all work subtleties known the administration .The utilization of Facilezone
                     programming laborers serves to his day by day work report effectively so the administration
                     realize the representatives work subtleties . This framework more utilize full to actually
                     look at all works in any error , the specialists accomplishing botch in work in seeing work
                     report the director help full to rectified slip-up work additionally to realize any forthcoming
                     work rundown to recognize being used of Facilezone.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Estimation
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Estimation is one of the significant piece of development. The legitimate administration
                    of estimation can build the organizations benefit by lessening undesirable costs. Our product can
                    undoubtedly oversee and propose ideal assessment for your work. So you don't need to invest your
                    important energy and it can give you capable outcome. Our product a recommend ideal assessment by
                    ascertaining the expense of amounts and cost of different things utilized in development.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'construction/cc8.jpg'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'construction/cc9.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Attendance management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Managing attendance of each and every employees is not an easy job. It requires
                     a lot of time for companies with large number of employees. Our software is well capable of
                     handling and storing data in a systematic fashion. It store every essential attendance details
                     like leaves, medical leaves, holidays, and overtimes and more. This data can help you to give
                     an overall evaluation of your employees performance by calculating the amount time they work.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Draft man
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Records and reports are the most significant for an association. We should keep each record
                    securely from others to build the well being of our association. Our product can keep your classified
                    records safely in issue free and mechanized style. So you can recover your document with no complexities.
                    It monitors reports and documents to keep you refreshed.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'construction/cc10.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'construction/cc11.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Reports and issues
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     This element empowers the administrator to get a continuous update about the works in the
                     organization . This can assist the client with recognizing the deficiencies in the work process and
                     the organization's administrations and can make right safety measures before the issue heightens.
                     Reports improves the organization much. Since it helps assist us with knowing how much our organization
                     needs to improve. Along these lines, it generally assists the organization with becoming better.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Labour
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    By the utilization of Facilezone work effectively track his functioning time consequently .
                    the association doesn't have to stress over the information of the functioning season of the
                    representatives since they are consequently saved money on the data set so they can get to it for
                    additional use and in view of this will diminish the time use and will likewise cause the activity
                    to turn out to be all the more simple and successful.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'construction/cc12.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'construction/cc13.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Project Manager
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                    The venture supervisor is manage the arranging and conveyance of development projects . They guarantee
                    that all works is finished on schedule and with in spending plan . Task director should check
                    forward-thinking work position and isolating all work to representatives every day on the off
                    chance that Mange Zone programming will assist full with projecting administrator the site work
                    provide for worker in effectively so workers can not confounded his work nearby . another significant
                    component is the task endorsement is give with the assistance of this product so the Facilezone is
                    more assistance full in development organization
                 </p>
             </div>
         </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>

</body>
{% endblock %}