{% extends 'base1.html' %}
{% block content %}
    {% load static %}
    <style>
    #first{
        background-image: url({% static 'nav1/cpro.jpg' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 95vh;
    }
    #second{
        color: white;
        font-family: Roboto, sans-serif;
        position: relative;
        margin-top: 15%;
        margin-left: 7%;
    }
    </style>
    <div id="first" class="container-fluid">
        <div class="row">
            <div id="second">
                <p style="color: white;font-family: Roboto, sans-serif;font-size: 40px;text-align: left">
                    Consumer Products
                </p>
                <p style="color: white;font-family: Roboto, sans-serif;font-size: 25px;text-align: left">
                    Embrace intelligent technologies and next-gen business<br>
                    processes to deliver personalisation with a purpose.
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="width: 80%">
            <br>
            <br>
            <p style="color: black;font-size: 46px">
               Innovation is achieved where the brand and consumer story intersect
            </p>
            <p style="color: black;font-size: 20px;">
               By 2025, companies that deliver through automation will lead the way. Facilezone
                enable consumer products companies to be responsive and provide personal, secure, and
                simple shopping experiences.
            </p>
        </div>
        <br>
        <br>
        <div class="container-fluid" style="margin-left: 13%">
            <div class="row">
                <div class=" col-lg-3 ">
                    <h4>
                        Customer relationship
                    </h4>
                    <ul>
                        <li>
                            Helps to understand your customers better and identify cross-selling and
                            upselling opportunities
                        </li>
                        <li>
                            Grow long-lasting and profitable relationships
                        </li>
                        <li>
                            Standardize workflows and processes associated with customer support
                        </li>
                    </ul>
                </div>
                <div class=" col-lg-3 ">
                    <h4>
                        Complaints Management
                    </h4>
                    <ul>
                        <li>
                            Designed to allow the organization to have a loyal customer base
                        </li>
                        <li>
                            Track and manage every customer’s feedback
                        </li>
                        <li>
                            Track every complaint’s lifecycle from documentation to initiation
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>
                        Improved Product Assessment
                    </h4>
                    <ul>
                        <li>
                            Configure  product assessment processes
                        </li>
                        <li>
                            Well-structured  product features
                        </li>
                        <li>
                            Giving organizations enough flexibility to deal with the upcoming challenge
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

{% endblock %}