{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'Electrical/epc1.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 10%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }

</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Electrical product companies
            </h3>
            <p>
                The utilization of Facilezone helps in safe store subtleties of electric things and his
                market costs. <br>So laborers are effectively distinguish item rate to helps in charging time. The protected
                stockpiling laborers are not befuddle item rate <br>and the executives can without much of a stretch distinguish
                item amount
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Seamless control of your employees
                </p>
                <p id="six">
                    Facilezone software  is a set off tools utilized by organizations plan ,execute and report on
                    the creation of electric goods. This will help your company to grow more than your expectation.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" loading="lazy" src= {% static  'Electrical/epc2.jpg' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%" alt="Error404!!!" loading="lazy" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Made up of exciting features
                </p>
                <p id="six">
                    The Facilezone software is loaded with exciting features that can help
                    you to boost up your business more effectively and effortlessly . our software features covers
                    each and every components of your organization.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                    Our software is stacked with number of  latest features which make our software more proficient
                    in managing organizations . managing price level is one of our highlight features . our software can easily
                    manage the price level  by joining client based estimating, cost-based valuing, and contest based pricing .
                    this feature can help your business to stand out from all your competitor.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Managed price level
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Overseeing cost is a vital component to work on your business. Authentic management of
                    valuing can support up your business to next level. Our product can oversee evaluating by joining
                    client based estimating, cost-based valuing, and contest based pricing . The joined outcome can keep
                    adjusted from monetary dangers and income. This can further develop your business benefit and consumer
                    satisfaction.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Electrical/epc3.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Electrical/epc4.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Accounts Section
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Accounting  is a critical factor in a store because simply through Accounting we
                     can see the sum we secure customary. Accounting about the money is a key part in light of the
                     fact that an error in Accounting will incite the lose of money which an affiliation gets every
                     day. So it requires some speculation for Accounting about the money in every specific day and
                     besides it require more energy also. Our item will create the Accounting every one of the more
                     straightforward so the agents can save time on other work. The item helps with taking care of
                     data about cost and bill the chiefs which shows the inadequacy or excess of aggregate in a specific
                     day in a lone framework
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Work management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Work management is one of the central part of organization . Effective management of
                    work flow can increase  your companies productivity with in short period of time . Facilezone
                    software is well capable of handling work flow . It can give real time updates about day to day
                    production . by this element you can investigate the organizations efficiency and can make
                    fundamental moves to build the usefulness.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Electrical/epc5.jpg' %}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Electrical/24.jpg'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Manage document and backup
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Facilezone software is one of the finest software in keeping the confidential documents
                     of your organization safe and secure . it stores confidential  documents in a well structured format
                     ,this can make  document updates  and retrieval seamlessly smooth and efficient . it also saves
                     backup for each and every documents to prevent the loss of data . The software will limit the access
                     to increase the security.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Discount management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Discount is one the most ideal way of attracting in clients. On the off chance that you
                    can admirably utilize this component you can procure great benefit without influencing your monetary
                    equilibrium. It can draw in and increment your client with less period of time. Facilezone software
                    can recommend best and viable markdown systems like value skimming, market entrance evaluating and
                    economy estimating. By this component you can build client traffic and increase your company benefit.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Electrical/epc7.jpg'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Electrical/epc13(2).jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Order Entry management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Our software allows you to manage sales orders to facilitate and automate the order
                     fulfillment process . It can save a lot of time and can give you the best result with high accuracy .
                     By lessening the time in the request to cash cycle and further developing request handling proficiency
                     for providers and wholesalers helps you to process your orders more sprightly  .
                     so that you can increase customer satisfaction and productivity .
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                   Report management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Facilezone cause the activity of work report to turn out to be all the more simple
                    and effectively move to the colleagues right away and without changing any arrangement of the data.
                    We cause it to turn out to be more easy to get to the work report from any of the stages and by this
                    the organization can undoubtedly deal with the work reports. This will likewise assists with
                    interfacing with the colleagues with practically no interference so that cause the activity to
                    turn out to be all the more simple for the organization. You can create explicit work report for
                    explicit work and can save them independently.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Electrical/epc13(5).jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Electrical/epc13(4).jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Estimate
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     In the electrical product organization putting away enormous amount stock in electrical
                     item . The client come any time and buy enormous amount items so that time organization can assess
                     the number of stock in our organization . In the utilization of Facilezone software putting away
                     all items names and his expense consistently so client can simple to recognize item rates and its
                     amount . In the event that organization execution will expanded and client can fulfill organization
                     administration .
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                   Manage Expense
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Managing the aggregate that spent in a specific day or other is moreover a
                    key part in corner shop business, since, assuming that we don't we can't realize how much
                    money we spent. So the owner should screen all the expense that they spent on something and
                    it is an outrageous task to do because eventually it will be ended up being terrible. Manage
                    zone have basic evaluation incorporate which can be used as to check the aggregate you really
                    wanted to do the cycle which you truly needed to do and you can save all of the data about it
                    in an independent way which makes the work end up being even more straightforward and reasonable
                    and the final result will be more exact around the completion of each calculation.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Electrical/epc13(7).jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Electrical/epc13(1).jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Compliance tracking
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Feedback from or honest customers can make your organization more transparent .
                    The process of tracking compliance can improve the organizations reputation. our software can
                    properly manage  customers feedback and compliance related information and activities . our
                    software can set alert massages when ever a customer reports any compliance and if there is
                    any flaws in the work flow . This feature can improve your company performs by tacking effective
                    actions related to the feedback .
                 </p>
             </div>
         </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>


</body>
{% endblock %}