{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'employement/img1.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 10%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }


</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Employement Agency
            </h3>
            <p>
                Using Facilezone Experts can filter candidate dependent on work title,
                abilities or asset pool and utilize search functionality to retrieve information of suitable applicants.
                We can publish job posts, view submitted applications and schedule interviews from remote locations through
                Facilezone
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Multi-recruitments and task planning
                </p>
                <p id="six">
                    Tracking down the fitting ability at the perfect opportunity has been really difficult
                    for organizations, particularly on the off chance that you don't have the right enrollment manage
                    zone helping you in your ability procurement and sourcing. Facilezone mange the multiple recruitment
                    processes at the same time. The tasks which are performed during recruitment process are already planned.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" loading="lazy" src= {% static  'employement/img2.jpg' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-image: url({% static 'employement/img3.jpg' %});background-size: cover;background-repeat: no-repeat;
            width: 100%;height: 100%;padding-bottom: 120px">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <p id="three">
                    Real-time budget tracking
                </p>
                <p id="six">
                    Using Facilezone you get real time control over your budgets. See expected
                    expense invades before it is past the point where it is possible to do anything about it. Cost control
                    is done simple with our smart and adaptable spending plan module. What is more, it is not difficult to
                    utilize and comprehend. Facilezone helps you to monitor how much of budget you spent over these years.
                </p>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%" alt="Error404!!!" loading="lazy" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Loaded with interesting features
                </p>
                <p id="six">
                    Facilezone incorporated complete features and tools to manage the
                    entire business operations of your company. It’s simple and comprehensive to use. We will
                    make it as in the form that appropriate to your business requirements.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                    Facilezone is the best management tool that allows the employment agency teams to manage<br>
                    their recruitment process, store applicants details, vacancy listing,<br> company details all are collaborate
                    in one place
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    MForecasting and Reporting
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Forecasting utilizes verifiable information as contributions to make informed evaluations
                    that are prescient in deciding the bearing of future planning of tasks. Organizations use estimating
                    to decide how to allot their spending plans or plan for expected costs for upcoming period of time.
                    Facilezone purpose is to review the available job vacancies and find candidates who will best fit for
                    the vacancy based on skills, experience and interests. Reporting contains the details of the upcoming
                    recruitment process, interview process, classified listing, job market researches and industry analysis.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'employement/manager.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'employement/accountsmodule.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Resource utilization tracking
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Using the Facilezone we can easily utilize resources and also track the processes.
                     It help the managers to identify that how their team members is utilizing their allotted resources,
                     so they can make more proficient resourcing decisions that amplifies usefulness and productivity.By
                     tracking the resource utilization that estimates how gainfully your employees is working, and monitor
                     whether they're being finished.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Task tracking and deadline setting
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Your top tasks are tracking by use of Facilezone efficiently and we can set deadlines and
                    reminders for future tasks. Another benefit is that you can quickly set up the tasks and assign tasks
                    to the employees and view the tasks all up on the Facilezone so you can quickly see the status of each
                    task. To increase the productivity of the organization setting deadline in task management is vital.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'employement/assets.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'employement/employeemanagement.jpg'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Issue tracking
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     The issue tracking cycle starts when the client enlightens your company regarding their
                     inquiries, and finishes when the client leaves feedback on the help they got. An efficient issue
                     tracking website guarantees that this interaction goes without an issue, stays blunder free, and
                     makes client assistance simple for all interested parties. Facilezone plays vital role in the
                     issue tracking cycle.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Create and collaborate on shared visual boards
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    As an employment agency you have to spread the job vacancies through all the social
                    networks to advertise your ads.The Facilezone will help you to Access the best jobs and specialist
                    recruitments, hiring, interview and salary advice to find the suitable candidates from the huge
                    application list. Facilezone has the special feature of collaborate and share your visual ideas
                    digitally. Also it has included built in layout options that allows you create visuals with your ideas.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'employement/clientmanage.jpg'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'employement/attendance.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Candidate Database
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Employment agencies depend on accurate records for the most efficient management of
                     candidates, so it is important that all information is accurate and correct. Candidate database
                     stores candidate information that includes name, address, contact information, resume and employment
                     registration id. Look for candidate management this Facilezone software with specific security
                     measures like data encryption and multi-factor authentication, to protect candidate information
                     from unauthorized access.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Time & Attendance Management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Without the right management software, keeping track of candidate’s attendance details
                    like who are appearing the interviews at timely manner is time consuming and tedious process. Any
                    mistake can lead to inaccurate information. Time and attendance management features ensure that
                    working of employment agency status report is accurate. These features also increase productivity
                    and good will of the agency among the jobseekers and the hiring companies
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'employement/events.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'employement/reports.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Help Desk
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Facilezone has multilevel and strong feature to streamline customer support, boost
                     the efficient and employment agencies productivity. It offers reliable service through 24 hours.
                     They can provide personalized supports to every client and respond quickly to the client queries
                     .It consolidates all your communication channels, email, chat, voice call, and online media accounts
                     in a single platform, empowering you to manage and respond to client inquiries without any delay.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Labour Costing Module
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    The incredible Labour Costing module permits you to design daily and weekly work assignments
                    across different cost centres, compare at planned activities, tasks and cost plans with those are
                    already accomplished, and track task by hours, performance, or cost.Organizations need an employee
                    management software that comprehends the difficulties of dealing with a versatile labour force to
                    manage timetables for telecommuters in the most effective and consistent manner.Facilezone improves
                    the workspace productivity
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'employement/workupdate.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'employement/ams.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Real-time reporting to prove your value to clients
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     You realize that you produce incredible work for your clients. But, when they only get
                     to see a restricted set of the process, it is simple for them to question your worth. Especially
                     in case there's a more drawn out time frame before they get a deliverable, they may contemplate
                     whether you're really creating anything for them. So the important thing is that first choose strong
                     management software like Facilezone to simply generate reports from real-time insights.
                 </p>
             </div>
         </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>

</body>
{% endblock %}