{% extends 'base1.html' %}
{% block content %}
    {% load static %}
    <style>
    #first{
        background-image: url({% static 'nav1/erp.jpg' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 95vh;
    }
    #second{
        position: relative;
        margin-top: 15%;
        margin-left: 7%;
    }
    </style>
    <div id="first" class="container-fluid">
        <div class="row">
            <div id="second">
                <p style="color: white;font-family: Roboto, sans-serif;font-size: 40px;text-align: left">
                    ERP for Small Businesses <br>and Midsize Companies
                </p>
                <p style="color: white;font-family: Roboto, sans-serif;font-size: 25px;text-align: left">
                    Capture all your data in an integrated enterprise resource <br>planning (ERP) system
                    for small businesses and <br>midsize companies.
                </p>
            </div>
        </div>
    </div>
        <div class="container" style="width: 80%">
            <br>
            <br>
            <p style="color: black;font-size: 46px">
                ERP software that grows with you
            </p>
            <p style="color: black;font-size: 20px;">
                Our cloud and on-premise ERP software helps you manage everything from accounting and CRM to supply
                chain management and purchasing.
            </p>
        </div>
        <br>
        <br>
        <div class="container-fluid" style="margin-left: 13%">
            <div class="row">
                <div class=" col-lg-3">
                    <h4>
                        Sales and Marketing
                    </h4>
                    <ul>
                        <li>
                            Quicks the sales cycle and bring more profit
                        </li>
                        <li>
                            handles workflow of sales
                        </li>
                        <li>
                            features taxation rules
                        </li>
                        <li>
                            performance reviews
                        </li>
                    </ul>
                </div>
                <div class=" col-lg-3 ">
                    <h4>
                        Gain control and insights
                    </h4>
                    <ul>
                        <li>
                            On-premise or cloud deployment
                        </li>
                        <li>
                            Integrated business intelligence
                        </li>
                        <li>
                            Integration with the SAP HANA platform
                        </li>
                        <li>
                            Quick deployment
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 ">
                    <h4>
                        Support business growth
                    </h4>
                    <ul>
                        <li>
                            Streamlined end-to-end processes
                        </li>
                        <li>
                            Agility to quickly adapt for new opportunities
                        </li>
                        <li>
                            Real-time analytics to help improve profits and efficiency
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class=" col-lg-3 ">
                    <h4>
                        Financial management component
                    </h4>
                    <ul>
                        <li>
                            Manage capital inflow and outflow
                        </li>
                        <li>
                            Perform standard accounting and finance transactions
                        </li>
                        <li>
                            Generates Financial Statement and reports
                        </li>
                    </ul>
                </div>
                <div class=" col-lg-3 ">
                    <h4>
                        Human Resource Management
                    </h4>
                    <ul>
                        <li>
                            Payroll system and performance review
                        </li>
                        <li>
                            Manage wages  and expenses
                        </li>
                        <li>
                            Employees Database record
                        </li>

                    </ul>
                </div>
                <div class="col-lg-3 ">
                    <h4>
                       Integration
                    </h4>
                    <ul>
                        <li>
                            Works with all existing buisness application
                        </li>
                        <li>
                            Integrates system to system
                        </li>
                        <li>
                            Integrates module to system
                        </li>
                        <li>
                            Erp payroll to existing HRMS and file transfer compactability
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <br>
    <br>

{% endblock %}