{% extends 'base1.html' %}
{% block content %}
    {% load static %}
    <style>
    #first{
        background-image: url({% static 'nav1/fashion.jpg' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 95vh;
    }
    #second{
        position: relative;
        margin-top: 15%;
        margin-left: 7%;
    }
    </style>
    <div id="first" class="container-fluid">
        <div class="row">
            <div id="second">
                <p style="color: white;font-family: Roboto, sans-serif;font-size: 40px;text-align: left">
                    Fashion
                </p>
                <p style="color:white;font-family: Roboto, sans-serif;font-size: 25px;text-align: left">
                    Understand tomorrow’s trends, drive personalised <br>shopping and run a sustainable fashion <br>business.
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="width: 80%">
            <br>
            <br>
            <p style="color: black;font-size: 46px">
               Deliver the styles of tomorrow and exceed customer expectations
            </p>
            <p style="color: black;font-size: 20px;">
                Gain a real-time view into inventory, optimise demand-supply matching, and
                drive consistent customer interactions across channels and regions on one platform.
            </p>
        </div>
        <br>
        <br>
        <div class="container-fluid" style="margin-left: 13%">
            <div class="row">
                <div class=" col-lg-3  ">
                    <h4>
                        Real-time order and inventory management
                    </h4>
                    <ul>
                        <li>
                            Provides a unified instance of data regarding your inventory positions
                        </li>
                        <li>
                            Provides commitments, and availability
                        </li>
                        <li>
                            Allows to dismantle inventory silos
                        </li>
                    </ul>
                </div>
                <div class=" col-lg-3">
                    <h4>
                        Streamlined Financials and accounting
                    </h4>
                    <ul>
                        <li>
                            Great visibility to your fashion design performance
                        </li>
                        <li>
                            Track cash flows from a consolidated scale
                        </li>
                        <li>
                            Integrates all the core modules
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>
                        Powerful CRM and marketing capabilities
                    </h4>
                    <ul>
                        <li>
                            Helps manage marketing campaigns
                        </li>
                        <li>
                            Handle sales incentive compensations,and track campaign
                        </li>
                        <li>
                            Monitor customer interactions in real-time
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

{% endblock %}