{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'financialinstitution/img1.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 10%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }


</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Financial Institutions
            </h3>
            <p>
                By using Facilezone in financial Institution will result in easy storing of data about
                deposit , Lending, and Investment products  to individuals , business or both in an autonomous way.
                This Software will enhance the functions of your organization and will result in a big growth of your company
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Employee Management
                </p>
                <p id="six">
                    Facilezone gives the most ideal method for dealing with every one of the tasks that done by
                    Employees and can assist with delivering the Work Report by use Work report element of the product
                    which will prompts saving the hour of the association and will cause the work to turn out to be more
                    basic. There exists elements, for example, Manage Attendance and Manage Salary will assist the
                    organization with effectively dealing with the representatives that work on your organization
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" loading="lazy" src= {% static  'financialinstitution/img.png' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%" alt="Error404!!!" loading="lazy" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Loaded with interesting features
                </p>
                <p id="six">
                    Facilezone incorporated complete features and tools to manage the entire
                    business operations of your company. It’s simple and comprehensive to use. We will make it as in
                    the form that appropriate to your business requirements.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                    For a Financial Organization exchange information's are consistently applicable. Facilezone
                    give the best single structure to store every one of your information's with regards to your organizations
                    day by day activities in a solitary extra room by utilizing safe storage component of our product.
                    A thrilling element of 'Message' will assist you to stay in contact with your ideal interest group
                    and can ask their solicitation and customers and can react even in your nonattendance and a lot really
                    fascinating component are accessible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Manage Banking
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    With a great deal of exchange occurring around the monetary establishment on consistent
                    schedule ,it is difficult to convey such mass measure of information in a solitary space and it will
                    feel more hard to get to the information. We give the most ideal way of tackling the issue by giving
                    an upgraded programming named Facilezone which will make it simpler to choose, order, erase and
                    reestablish the lost information which will cause crafted by the customer to turn out to be all the
                    more simple and can produce a major result than they normally gets. It will discovered the best
                    counterpart for your exchange and will cause the coordinating with interaction to turn out to be
                    all the more simple.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'financialinstitution/img_3.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'financialinstitution/img_4.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Estimates
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     It will ordinarily accepts huge call or extensive messages to conclude an arrangement
                     however utilizing Manage  zone you can cause the arrangement to turn out to be all the more simple
                     by send gauges, simply get them endorsed and can help out your customers on continuous premise.
                     The gauge area can offer the rebate , exchange, arrangements, and status for any assessment which
                     will assist the customer with working precisely and furthermore they can transform their appraisals
                     into solicitations too.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Expense
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    At the point when cost develop your organization additionally develops , so there is in
                    every case large cost in any monetary foundation and our product will assist you with recording every
                    one of them naturally and it will assists you with monitoring all of your cost information which is
                    put away in a solitary space. You can arrange the following expense and can charge them to your
                    clients when they are required. You can the store the information of bills, receipts, and credit note
                    to the partner exchange and can get to it from anyplace on the grounds that Manage  zone give an
                    instrument called access  from anyplace.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'financialinstitution/img_5.png' %}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'financialinstitution/img_7.png'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Online payment system
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Online installment framework is accessible in Facilezone which will cause crafted by
                     monetary foundation to turn out to be all the more simple and successful. It give various installment
                     strategy and you can just pick one and gather the sum instanly. Facilezone open the method of
                     gathering the sum on daily,weekly,yearly premise. Our item is upgraded and it will inform the
                     clients as to whether any due happens and will send autogenerated suggestions to them so the staff
                     doesn't have to stress over it and furthermore this will consequently records the information once
                     the installment is finished.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Report Management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Facilezone make the operation of work report become more easy and and easily transfer
                    to the team members without any delay and without changing any format of the information. We make it
                    become more simple to access the work report  from any of the platforms and by this the organization
                    can easily manage the work reports. This will also helps to connect with the teammates without any
                    interruption so  that make the operation become more easy for the company. You can generate specific
                    work report for specific work and can save them separately.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'financialinstitution/img_6.png'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'financialinstitution/img_8.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Project  Management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Facilezone provide a feature of allocating the task to different employees and also you
                     can track or check the current situation of the ongoing progress of the specific work. The
                     main feature associated with it that the company can handle the whole team or individual work
                     at a single time which will save an amount of time because of this will reduce the redundancies
                     of task allocation and helps to predict the finishing time of each task which is  a great advantage
                     to the company.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Automation
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    The Moment you begin utilizing Facilezone will change your activity into completely
                    mechanized errands. The organization dosent need to stress over any of the updates that must be
                    shipped off the clients on the grounds that the product will naturally create an answer to the
                    clients about the expense to be payed. There may happen an opportunity to pass up a great opportunity
                    an exchange subtleties when main part of them are coming, however Facilezone will precisely store
                    every one of them with out any postponement and it will be gotten too
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'financialinstitution/img_9.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'financialinstitution/img_10.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Inventory Management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     The organization can undoubtedly store the data about SKU, Product Image, Vendor Details,
                     Cost, and stock close by and makes your organization stock become all the more splendid that others.
                     You can initiate stock following which assists with following pretty much all the data that contained
                     inside the extra room which will helps for additional development of the process.When your thing gets
                     harmed or get lost you can undoubtedly change your stock without influencing some other things or stocks
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Client Management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Facilezone can assist the organization with recognizing about the client input about the
                    administrations in which the organization gives and can assist them with making enhancements in feeble
                    regions which will assists the organization with becoming more and improve results soon. Like I said
                    before the organization can lessen the extensive messages and calls and can make the work more quicker
                    than they used to. Customers can undoubtedly pay their cash to the organizations with some single step
                    which will save them additional time.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'financialinstitution/img_11.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'financialinstitution/img_12.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Invoice Management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                    Facilezone can assist with making better Invoice with snap of a button. You can add your
                    logo of your organization , can change your text styles and so on Utilizing every one of this provisions
                    will prompt making of a cleaned receipt. You can straightforwardly transfer your Invoice  to the
                    extra room for future reference. Clients can pay their cash quicker with the goal that the organization
                    can finish the exchange as quick as possible and furthermore it help to give computerized subsequent
                    meet-ups to the clients.
                 </p>
             </div>
         </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>

</body>
{% endblock %}