{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'grocery/imgg.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 10%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }



</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Grocery shops
            </h3>
            <p>
                Managing a grocery store is a time consuming and requires lot of effort.
                Well not anymore. We present you the best and most effective management software for you.
                It can help you to save a lot of time and effort and make your business more cost-effective.
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Make your laborers more achievable
                </p>
                <p id="six">
                    Our product is well fit for regulate the staffs work process and execution.
                    This element can roll out an uncommon improvement in dealing with your instructive establishment.
                    Our product is capable in dealing with each and all staffs. With the goal that we can assist
                    you with turning into the best version of your business.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" loading="lazy" src= {% static  'grocery/img_2.png' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%" alt="Error404!!!" loading="lazy" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Loaded with interesting features
                </p>
                <p id="six">
                    Our software is well capable of handling every fragment of your business.
                    This can improve your business productivity to a certain level. By proper management of price
                    and stock can give you tremendous change in your business revenue. Out software is well capable
                    of giving real time updates in price and stock and everything you need.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                    We have developed the most effective software deal with every fragment of your business.
                    it is stacked with interesting features with real time updates and alerts for your stock and price
                    and every aspect of your business. it can give you alerts about your stocks and keep you aware of
                    your business which also helps you to stay ahead from your competitors.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Suppliers And Purchase Management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Managing suppliers and purchase is one of the critical parts of grocery stores. If you
                    don’t properly manage suppliers and purchasing expenses, it will result in undesirable losses. Our
                    manage software can easily track suppliers’ expenses and purchases. It can give you an overview of
                    your business. This software can make your business profitable by properly managing suppliers and
                    purchasing.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'grocery/img_3.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'grocery/img_4.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Price Management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Managing price is a key feature to improve your business. Legitimate management of
                     pricing can boost up your business to next level. Our software can manage pricing by combining
                     customer-based pricing, cost-based pricing, and competition-based pricing. The combined result
                     can keep balanced from financial risks and revenue. This can improve your business profit and
                     customer satisfaction.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Stock Management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    For an organization like these managing stocks is a crucial part. we need to have strong
                    managing skill for the effective use of stock. Facilezone software is capable of real time updating
                    of stocks and inventory monitoring and alert features for expiring stocks. So, you will have seamless
                    and effortless access to you stocks and can take necessary actions based on the availability of your stock.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'grocery/img_5.png' %}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'grocery/img_6.png'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Discount Management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Discount is one the best way to attract customers. If you can wisely use this feature,
                     you can earn good profit without affecting your financial balance. It can attract and increase your
                     customer with less period. Facilezone software can suggest best and effective discount strategies
                     like price skimming, market penetration pricing and economy pricing. By this feature you can increase
                     customer traffic and increase your organizations profit.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Reporting
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    The reporting feature can make your business more transparent to your customer. Because if
                    a customer feels something negative in our store, they can send report to your mail. By considering it
                    as honest feedback from a customer we can avoid those negatives immediately. This feature can make our
                    business more customer friendly. This can create a well impression in customers which will result in
                    high customer satisfaction.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'grocery/img_7.png'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'grocery/img_12.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Cash Management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Facilezone can easily manage and collect cash flows. It is crucial part for both
                     individual and your store. By effective management of cash flow can increase the financial
                     stability of the business. This software can reconcile all your transactions related to your business.
                     It can give you an overview of cash flow by using a user-friendly interphase. It can also help to make
                     you aware about your cash flows and reduce undesirable financial losses.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Alerts
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Alerts will help the users or the organization manager to recognize and eliminate the error
                    as fast as possible. Our software can set alerts which can send alert notification to desired person.
                    It will send alerts when the availability of an item becomes less and or the presence of any damaged
                    products before it reaches to the customer. Alerts can always keep you close to your firm and always
                    helps to give the customers full satisfaction with your service.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'grocery/img_8.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'grocery/img_13.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Invoice Collection
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Keeping invoice can increase the financial security to certain level. The Facilezone
                     software is capable of handling and storing invoices in a secure environment. You can easily
                     retrieve all your invoice details with a single click. The well-structured data storage can this
                     job more effective and smoother. Due to the high confidentiality the access to this is limited
                     to certain users with your permission.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Accounts
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Through accounting we can see the amount we procure regular. This software can keep your
                    accounts in most efficient ways. It can store day to days expenses and all other transaction through
                    your business accounts in a systematic way. It can also reduce human errors which can give well, and
                    accurate results of your financial stability and it can save your time. Thus, you can save your time
                    on focusing on your business.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'grocery/img_9.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'grocery/img_10.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Expiry Management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                    Our software can store the expiry dates of each and every product. It can give you real
                    time updating about the expiry of your products. So, you will get notification when a product expires.
                    The Facilezone software can make sure that every customer can get the best in quality products.
                    This will help you get the reviews from customers. The proper alert of expiring products helps you
                    replace the item with best in quality product.
                 </p>
             </div>
         </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>

</body>
{% endblock %}