{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'Jewel/20.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 10%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }

</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Jewelleries
            </h3>
            <p>
                Mange Zone is an efficient platform to aggregate the daily operations and workflow
                of jewellery business.<br> This feature is designed especially for the manufacturers and dealers of
                jewellery and ornaments. <br>The billing and accounting can handle in automatic way. Its ensures the
                tracking and monitoring of your complete departments.
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Easily manage your employees with<br>Facilezone
                </p>
                <p id="six">
                   Oversee Zone assists with getting sorted out your workers across various ventures.
                    Permit programmed task and ongoing observing office. It shows real working hour of your representatives
                    with an exhibition graph, so you can decide if they convey a normal presentation.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" loading="lazy" src= {% static  'Jewel/2.jpg' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img style="width: 100%" alt="Error404!!!" loading="lazy" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Loaded with interesting features
                </p>
                <p id="six">
                    Facilezone incorporated complete features and tools to manage the entire
                    business operations of your company. It’s simple and comprehensive to use. We will make it as in
                    the form that appropriate to your business requirements.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                    Mange zone is a software fully designed for jewellery industry. Facilezone is a windows-based
                    customer software and offers a far-reaching answer for bookkeeping, retail location, stock and assembling process
                    needs of goldsmiths.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                   Security Features
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Security is the key factor of the success of jewelleries. This Facilezone act as a
                    well-defined management software for jewellery security management. It provides highest security
                    standards to protect sensitive data from unauthorized access. It has a great feature of quickly
                    identify and mitigate security risk problems. Facilezone set permissions and access levels to
                    specific employees and track every employee’s activities. Also the system usage is tracked so
                    a third party cannot get any confidential information. So stop worrying about security issues
                    and data theft.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Jewel/4.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Jewel/5.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Cash Management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     There will be truckload of cash will go through the jewellery account daily.
                     It is difficult to monitor all the sum that goes through. Facilezone is an improved programming
                     in this field which assists the organization with keeping track on the income that happens each day.
                     It will likewise assists with settling on business choices about extending your business and dealing
                     with your current bills. so this can prompt the development of the organization and better result
                     sooner rather than later.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    catalogue Management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Facilezone enables classification wise distinctive item catalogue will be kept up with here.
                    likewise, user can refresh list data whenever anyplace. catalogue is a trend now a days. there ought
                    to be some valid reason for that such as jewelry sales shifts online, jewelry is a fluctuating industry
                    so that Facilezone enables present your new collection fast and the digital catalog help to do that
                    very fast.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Jewel/6.jpg' %}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Jewel/21.jpg'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Report management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Facilezone has the capability of generating genuine reports in jewellery firm.
                     A genuine report will show the performance and competition of the jewellery. The reports such
                     as mainly analysis of the bills generated in every transaction, reports of purchasing and
                     selection of gold, stone, diamonds etc, sales analytics reports,  customers purchase and bill
                     reports, stock management reports, pre-order booking reports etc are easily manageable and
                     stored by Facilezone software.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Client management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    This system enables storage and access of all information about clients,
                Brings better balance on your client relations.it provides live tracking of communication
                between your employees and clients.so you get a clear idea about client demands and market
                trends.it helps the marketing team and business development team to deliver an engaging
                service by analysing response of past clients.It provides integrate with all communication
                devices and act as a centralized system. Our software will provide a smooth flow in client
                enquiry.it will automatically transfer the enquiries to concerned department without any delay.
                Create an interruptive communication network for your organization.it only allows transfer of
                valid calls and genuine clients so that you could utilize the complete business time to grow new relations.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Jewel/8.jpg'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Jewel/91.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Business Enhancement
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Facilezone provides the best ways to enhance your business and create a actual momentum
                     on the growth of the company. To grow every business depends upon the proper analysis and recurring
                     customers. Our software provides the best analysis about the work flow and customer satisfaction
                     which will helps to improve the performance and productivity of the company.  Our software is so
                     in this field and because of that your company can do better in a unique and effective way
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                  sales promotion
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Facilezone builds sales promotion module permits clients to make their own business
                    crusades dependent on predefined rules. framework a time span, area, or client group as boundaries.
                    outfitted with various special assortments from Facilezone, to printing coupon for redemption on
                    next buy to energize repeat purchasing.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Jewel/10.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Jewel/11.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                   Reports and issues
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Facilezone offers smart business reports and real performance forecasting of your
                     organization. This provides a true insight to plan further steps that contribute an improvement
                     in performance of your company. The reports are generated with extracting patterns from historical
                     data and current working data. This provides clear idea about how the market condition and other
                     external factors that affect a growth and decline in company revenue. Based on this report you
                     can make a long term plan for coming business years. Use Facilezone to predict the future of
                     your company.it provides tools Evaluate market condition before invest on a product or services.
                     We will help you to expand your business through creating a better business plan.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                  Stock management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Managing stocks is crucial for a firm like this. For the most effective utilization of stock,
                    we require enormous management skills. The Facilezone programme allows for real-time stock modifications,
                    inventory monitoring, and alerts if the availability of the stocks is less. As a result, you will have
                    seamless and straightforward access to your stocks and will be able to make the correct actions based
                    on the stock's availability.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img alt="Error404!!!" loading="lazy" src="{% static 'Jewel/131.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img alt="Error404!!!" loading="lazy" src="{% static 'Jewel/14.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Job offerings and interviews
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                   Use our software to conduct the entire hiring process in an autonomous way. It occupies complete
                    features to schedule an interview including video conference and live results assessments.
                    The shortlisting of resumes make easier with advanced filtering mechanisms. You can predefine
                    the requirement, so the resumes which don’t matches with current requirement will be automatically
                    eliminated from the selection process. The interview scheduling for candidates can managed without
                    a clash on time. This can integrate with the email and calendar applications. The hiring manager can
                    set the interview rounds that desired to conduct in advance. The results of each round can transmit
                    to candidates automatically.
                 </p>
             </div>
         </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>

</body>
{% endblock %}