{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'market/m1.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 10%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }

</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Marketing agencies
            </h3>
            <p>
                Facilezone assists marketing agencies with getting every one of their information
                into one place with automated customer dashboards and reports. The Facilezone is great for marketing
                agencies for effortless agency report generation. It will associates with any marketing platform you need.
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Easily manage your employees with Facilezone
                </p>
                <p id="six">
                    The greatest advantage you can see for Facilezone is that their client care techniques
                    are associated with each package and are exceptionally mindful. It will assist you with working out
                    custom dashboards and combinations to guarantee that you are imagining your information in precisely
                    the manner you wanted it.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img loading="lazy" style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" src= {% static  'market/m2.jpg' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img loading="lazy" style="width: 100%" alt="Error404!!!" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Loaded with interesting features
                </p>
                <p id="six">
                    Facilezone incorporated complete features and tools to manage the
                    entire business operations of your company. It’s simple and comprehensive to use. We will
                    make it as in the form that appropriate to your business requirements.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                   If you are attempting to hold every one of the moving pieces of a developing marketing
                    organization along with different tools and techniques, it is inevitable before everything comes smashing
                    down. Facilezone is the best marketing agency managing software for controlling all the
                    activities and new changes
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Market management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    In this current generation there is a highly thriving competition in the marketing field.
                    So managing the market with the latest trends is an important factor of the reputation of the
                    organization. This Facilezone software is effective for controlling marketing perspectives, defining
                    the objectives of the organization, taking major decisions and executing the plans to achieve the
                    customer’s demands.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'market/m3.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'market/m4.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Team Collaboration
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                    The success of an organization is depend upon the good team collaboration. With the help
                    of Facilezone you can improve your team collaboration in marketing. By implementing this software
                    you can build a real time interaction between the team members. It has a feature of file sharing,
                    communicate through multiple platforms, the members can search files and conversations, ease of
                    usability, collaborate with other group members etc.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Project Accounting
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    To manage a project accounting section in an organization is a very complex and careful task.
                    There is a need of strong management software. Facilezone can easily manage financial transactions
                    in a project like cost, payment, billing and profits. And it will control and integrate all the
                    financial tasks of daily projects and make accounting report for the success of the management and
                    also improves the financial health.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'market/m5.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'market/m6.jpg'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Business Intelligence
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                    Business intelligence Management is a key factor of the marketing organizations.
                    The main task in the business intelligence section is data management. To manage the data first
                    the raw data is converted to actual data and that used to provide performance metrics and decisions.
                    Facilezone is the effective software for analysing the raw data and then convert it to the appropriate
                    forms
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Simple and clean interface
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    If you are looking for simple but strong management software we are here for you
                    to achieve your goals. This Facilezone assures a very simple, clean and user friendly interface
                    for you. A low level employee in your organization can easily use this management software.
                    The user can easily navigate through the pages and do the tasks. It also ensures great readability,
                    flexibility, scalability, security and privacy.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'market/m7.jpg'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'market/m8.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Attendance management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                    Generate an attendance report through record and monitoring actual working hours of your
                    employees. This system allows the integration with all attendance devices such as biometrics,
                    smart-card, facial detection etc.it helps to analyse the working pattern of your employees,
                    so you can identify the idle hours of your company. The working hours are difficult to calculate
                    manually if your employees have rotation shifts. This system will help to establish a plan to
                    utilize maximum time to improve productivity of your company. The payroll can be automated with
                    based on working hours of your employees.It also notifies the employees, if their performance is
                    unsatisfactory.so that managers can time from direct scold between employees that related to low
                    working hours.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Affordable pricing
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    If you are looking for a powerful management software and that is affordable to your budget
                    then use our Facilezone. We offer it in a low budget because most of the marketing agencies are small
                    or a start-up. But it has all the advanced features and it will really helpful for you to managing the
                    overall functionalities in a marketing firm.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'market/m9.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'market/m10.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Excellent reporting features
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Facilezone has the excellent features of creating marketing reports in the organization.
                     It will store details and create report from different marketing resources. It visualizes your marketing
                     strategies performance in the market. The reports contains the details of marketing strategies and
                     it’s results, market research analysis details, promotions and advertising outputs, ad and campaigns
                     outcome, objectives and the expected results. Good marketing report helps you to take better decisions.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Aggregate all your marketing data into one place, in real time
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Facilezone is really helpful for collecting data and summarized it in one place.
                    The data might be assembled from numerous data sources with the plan of combining these data
                    sources to make summary for data analysis. But in this step it is must to assure the data accuracy.
                    Marketing data aggregation is valuable for everything from money or business strategy methods to item,
                    pricing, tasks, and promoting methodologies.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'market/m11.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'market/m12.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Perfectly capable of handling huge teams and workloads
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                      Facilezone is perfectly capable of handling the team members and workloads. Facilezone
                    can assist you with getting sorted out tasks, projects, employee workloads, and more.
                    This software has the capacity to allot and focus on significant assignments, make conditions
                    for a more natural work process, and view project progress initially. And also perfect for
                    creating timesheet tracking and budget management for enhance your management capabilities.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                   Improving customer relationships
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                   Facilezone is best for creating good customers and managing the existing customers.
                    Managing good customer engagement is a crucial factor of organization success. Facilezone is
                    helpful for maintaining healthy relationship with all your customers in sustaining the firm in
                    the market. To improve the customer relationships Facilezone focus each every interaction made
                    by the customers and try to reply back very quickly. Customers are satisfied in the faster responses.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'market/m14.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>

</body>
{% endblock %}