{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'realestate/1.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 10%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }

</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Real estate
            </h3>
            <p>
                Real estate requires well management system to keep you close to your business
                and keeping every record of business transactions. We are here to make your business more straightforward
                and flawlessly make you more effective in dealing with every one of the exchanges and records by our most
                recent Facilezone software.
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Effective management of employees
                </p>
                <p id="six">
                    The Facilezone software is fully capable of managing every staff of your organizations.
                    This software component can monitor everyone’s performance. Our software will assist you with
                    giving an outline of your company’s execution. This will help you to boost up each individual
                    and help them achieve their goals.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img loading="lazy" style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" src= {% static  'realestate/2.jpg' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img loading="lazy" style="width: 100%" alt="Error404!!!" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Powered by engaging features
                </p>
                <p id="six">
                    Our software is powered by number of attractive features and that’s the
                    reason which makes us stand out from other competitors. We can give you everything you need to
                    manage your business more flawlessly and seamlessly smooth and efficient. Our software can save
                    you more time and keep your business closer to you.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                    The Facilezone software give you the best features to make your business more efficient.
                    We provide features to control all your business components within a reach of your fingertips. Workflow
                    automation is one of our highlight features. It will help you to reduce burdens off from employees without
                    affecting the company’s performance. This will make your company more employee friendly, and it can increase
                    your company’s productivity.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Lead Management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Managing leads is very time consuming and energy draining task. Due to our software’s
                    advanced features, it can make your job easier and more efficient.  You can get most of your job
                    done by just clicking a button.  The software gathers instant lead information from website, social
                    medias and other sources and keep it gathered in a single unit. When you get each leads the software
                    will notify you so that you can reach out to your user without any delays.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'realestate/3.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'realestate/4.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Work-Flow Automation
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     By a proper management of workflow, you can reduce the burden off from employees without
                     affect the quality of your services. the workflow automation is proficient in handling customer
                     queries. It can generate automated emails and SMS based on customers queries. The Facilezone software
                     allows you to automatically plan work for your team with due dates and receive reminders and
                     escalations for delays. This feature can save a lot of time and exertion so that you can keep
                     focusing on the other works.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Team Collaboration
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    The success of a firm built with a great team. To build a great team it is our duty to
                    provide them with powerful tools to push through their limits.  Our software is proficient in assigning
                    works to the colleagues. The team lead can assign works among colleagues so that they can reach the
                    target more efficiently. It can assign task to each team with a due date and can give you updates
                    in case of any delays.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'realestate/5.jpg' %}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'realestate/6.jpg'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Reports And Dashboard
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Managing reports is one of the most important aspect of your business. The way
                     you handle your reports can make a great impact on your business. Our software helps you to
                     deep dive into your data. With a single click of a button, you can get every report about
                     your business-like site reports, sales report, revenue reports and so on. it is also proficient
                     in presenting the reports in readable visual format.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Payment Tracking
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    This is one of the critical parts of real estate’s business firms. The payments can be
                    done by 2 ways online and offline. Our software can handle both online and offline payments this
                    feature can let you manage both customers smooth and easy. After each payment the software shares
                    a copy of receipt of transaction and stores a copy for future reference.it can give you real time
                    updates and send you notifications about the transactions.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'realestate/7.jpg'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'realestate/8.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Inventory Management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     When it comes to real estate earning the trust of your clients is an essential part.
                     To earn that trust you must be fully confident and transparent about your inventory. The manage
                     zone software can give you the best transparent inventory management system by providing the
                     essential details about your inventory with a single click. So that your clients can get the best
                     and ideal project without any complications. It can make things clean and clear to your customer.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Communication
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    In real estate communication can make any deals into a positive. Effective
                    communications can turn your enquiries into customer. This software is packed up with click to
                    call and intelligent call routing system so you can reach out to every leads. There are so many
                    ways to keep you connected with your clients like emails, SMS and so on. this software comes up
                    with integrated massage system so that they can clarify that they’re sending the right information
                    to the right lead.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img  loading="lazy" alt="Error404!!!" src="{% static 'realestate/9.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'realestate/11.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Booking And Customer management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Booking management can make your firm more effective. Our software can make these job
                     easier for them so that they can use that time energy for new leads. The software can manage these
                     jobs based on data and prioritizing leads and unit selection oh your customer. The software stores
                     the and manage cost sheet in a well and understandable format this feature creates a seamless buying
                     experience.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Performance management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    This software feature can keep track of every individual’s performance. This will help
                    you to give an overview of your company’s performance. This performance chart is accessible by the
                    sales team member which leaves no room for discrepancies. So that you can find right one to promote
                    and right one to encourage him to push through his limits. This can result in a tremendous change
                    in your company
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'realestate/12.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'realestate/13.jpg'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Security
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                    The Facilezone software comes up the latest and advanced encryption techniques to keep your
                    leads personal data more secure. The software allows you create certain levels of security so that
                    you can restrict unwanted access to your client’s personal information. It comes up with a
                    role-based access control feature that can help you to create different levels of security.
                    You can access your confidential data from anywhere without any complications. You can get alert
                    messages in your phone if there is any unwanted access from an individual.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                   Performance charts
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    You can understand actualperformance of your company though analyse the performance chart.
                    It is generated by continuous monitoring of staffs and workflow of your company. Mange zone provide
                    the financial data which in comprehensible format. This chart will help managers and decision making
                    wing to set future goals of the company.From this data they get a brief idea that whether the company
                    achieved previous year’s goals or not. The declaration of company performance value will boost team
                    spirit of your employees.it also provides the detailed report about individual contribution on total
                    productivity of company. From that you can identify the real performers and low performing Employees.
                    it helps the managers to construct a team which are capable to make a target results.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'realestate/14.jpg'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>

</body>
{% endblock %}