{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'restaurant/img1.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 25%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }

</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Restaurents & Hotels shops
            </h3>
            <p>
                Utilization of Facilezone in Restaurant and inn associations will assist with fixing each back-fall
                in their capacities. This will assist with putting away every visitor look at in and in an autonomous
                which will assist you with saving your valuable time. With the assistance of this item you will procure
                your consumer loyalty in a simple manner.
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Easily manage your employees with Facilezone
                </p>
                <p id="six">
                    Facilezone helps to organize your employees across multiple projects.
                    Allow automatic task assignment and real time monitoring facility.
                    It shows actual working hour of your employees with a performance chart,
                    so that you can determine whether they deliver an expected performance.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img loading="lazy" style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" src= {% static  'restaurant/img_1.png' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img loading="lazy" style="width: 100%" alt="Error404!!!" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Loaded with interesting features
                </p>
                <p id="six">
                    Facilezone incorporated complete features and tools to manage the
                    entire business operations of your company. It’s simple and comprehensive to use. We will
                    make it as in the form that appropriate to your business requirements.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                    IT escalates the total performance of your company by a proper workflow
                    management. <br>Some of the important features are such as employee’s task assignment, payroll
                    and attendance management, chat room, File sharing etc.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Reservation & Booking
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Reservation and booking is a primary component in eatery and inn industry on the
                    grounds that many individuals book their room or seat or food from on the web. This will
                    require some investment possibly due to the utilization of a wrecked programming or something
                    like that. This will prompts free the assumption for a specific client and on account of that
                    they might pass on to other spot which bring about separate of your business. Our product
                    assists with gathering the information of every single client that attempted to book or save
                    in a solitary system and furthermore this will be a simple strategy too which prompts the
                    saving of time and decreasing the work.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'restaurant/img_3.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'restaurant/img_4.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Easy planning
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Our software gives you the best way to plan the operation that you have to do to improve
                     the business. You can manage the work that you allocated to your employees and you can do anything
                     you want to do to improve the specific operation and this will helps you to do the more work that
                     you usually do and also results in the growth of your own business in a unique way. Our software
                     is a enhanced method which will make  your business looks bright among others and will open the
                     world of new things that can be utilized for your better results.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Front office management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Our Software can go about as a Front Office the executives which is more adaptable and
                    can lessen the undesirable expense for workers and the central concern about this is the information
                    is safer moreover. Our product is a totally incorporated module and it is coordinated with online
                    reservation. It gives room show arrangement of pictures and recordings. This instrument will assists
                    with making the work more quicker than the customers typically do
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'restaurant/img_5.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'restaurant/img_6.png'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Attendance Recording
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Facilezone programming will give the most ideal method of recording your workers
                     Attendance in a lot quicker way than previously and will assist you with saving the time.
                     Time is cash so you need to utilize it viably so due to that you can contact our product to
                     simplify your work and powerful. Every one of the information of your representatives participation
                     will be put away in a solitary space and you can get to it any time you need which assists
                     you with finishing different activities immediately.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Messaging System
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    We provide the best platform which will allow you to engage with your client in an easy
                    and faster way through various applications. This will helps you to send transactional message to
                    your clients , reply to your guest and also manage the customer support. The software provide
                    secure data protection and also this is an user friendly tool also. It provides automated reply
                    to the customer and will show the history about the guest also
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'restaurant/img_7.png'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'restaurant/img_8.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Maintenance Management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Maintaining Hotels and Restaurant is an important factor in growing the business day-to-day
                     and also it is a complicated task because it require good working time and cost to complete the
                     operation. Our software helps to make more benefit and will optimize your  operations.
                     This tool can be used to reduce the cost and increase the productivity of your work this will
                     lead to make your workflow become more easy and it will become more effective on your business
                     which will produce the best outcome that you can get
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    CRM Management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Clients are the main factor of Hotels and Restaurants and to keep them fulfilled ought to
                be their primary need. By utilizing Facilezone programming you can undoubtedly fabricate the ideal
                connection with your client and you can without much of a stretch keep up with it for quite a while.
                We give a superior and novel experience and furthermore this will assists you to fabricate the better
                relationship with your client by giving the total image of all of the client connections, and can
                monitor your deals and works, coordinating and focusing on your chances and working with collaboration
                between different groups and clients
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'restaurant/img_9.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'restaurant/img_10.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Accounting
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Keeping track about the measure of cost that you spent on your business or the acquired
                     sum in consistently is a hard undertaking to finish due to the mass measure of information. Manage
                     zone can give the most ideal way of monitoring your cash and exchange that you have acquired or
                     misfortune and can keep the information in a solitary space like stockpiling for additional
                     computations and due to this you can track down the right arrangement on the off chance that
                     anything turns out badly or you can accomplish the work all the more adequately. The put away
                     information is more gotten in Facilezone and can be gotten to from elsewhere.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Database Management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    It is required to collect and store all the datas about your company in a specific storage
                space because the datas are required for future operations regarding every company. When large
                data occurs it maybe not possible to store and use all the data and maybe their occurs repetition.
                Our software can handle  all of this problems and can provide a best platform to store and secure
                all your data. It have enhanced security and also improved file consistency which will make your
                work become more simple than ever
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'restaurant/img_12.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'restaurant/img_13.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Schedule Management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Schedule management is also a part of hotels and restaurants because they have many events
                     to fulfill  everyday. By using the Facilezone one can simply allocate their work on different stage
                     and can keep track on all of their task without any problems. Using this will also save the time and
                     will give more effective result by fulfilling all the work on scheduled date. And also you can make
                     the perfect documentation about your works and can make the reports in a single framework.
                 </p>
             </div>
         </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>


</body>
{% endblock %}