{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'supermarket/img1.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 10%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }

</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Super markets
            </h3>
            <p>
                Facilezone is the best solution for a supermarket to combine all of their features
                into a single book like space.<br> This software will help you to manage Revenue generation,Cost Management,
                Customer service and relationship and can<br> also manage the employee attendance  in a single website.
                By using this software you can easily maintain all<br> the features of your supermarket in an easy and
                effective way so that result in improvement of your business.
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Easily manage your employees with Facilezone
                </p>
                <p id="six">
                    Facilezone helps to organize your employees across multiple projects. Allow automatic task
                    assignment and real time monitoring facility. It shows actual working hour of your employees with a
                    performance chart, so that you can determine whether they deliver an expected performance.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img loading="lazy" style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" src= {% static  'supermarket/img_1.png' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img loading="lazy" style="width: 100%" alt="Error404!!!" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Loaded with interesting features
                </p>
                <p id="six">
                    Facilezone incorporated complete features and tools to manage the entire
                    business operations of your company. It’s simple and comprehensive to use. We will make it as in
                    the form that appropriate to your business requirements.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                    Performance are always determine the future of a supermarket in the field of theirs. Facilezone
                    provides a feature of performance chart that can help you to  determine the overall performance of your company
                    and your employees. Work reports and safe storage will help you to make an overview about your daily work
                    and can store the transactional data from the customer in a single space and it provides a feature of
                    access from anywhere will help to access the data from anywhere easily which will make your work so smooth
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Accounting
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Accounting is a significant factor in a store on the grounds that just through Accounting
                    we can see the amount we procure regular. Accounting about the cash is a fundamental part on the
                    grounds that a mistake in Accounting will prompt the lose of cash which an association procures each day.
                    So it requires some investment for Accounting about the cash in each particular day and furthermore
                    it require more energy moreover. Our product will make the Accounting all the more simple so the
                    representatives can save time on other work. The product assists with putting away information
                    about cost and bill the executives which shows the deficiency or overabundance of sum in a
                    particular day in a solitary system.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'supermarket/img_3.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'supermarket/img_4.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Expense management
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Dealing with the sum that spent in a particular day or other is likewise a fundamental
                     part in general store business, since, supposing that we don't we can't know how much cash we spent.
                     So the proprietor should monitor all the cost that they spent on something and it is an extreme errand
                     to do on the grounds that at some point it will be turned out badly. Facilezone have simple assessment
                     include which can be utilized as to gauge the sum you need to do the cycle which you really wanted to
                     do and you can save every one of the information about it in an autonomous manner which causes the
                     work to turn out to be all the more simple and viable and the end-product will be more precise
                     toward the finish of every computations.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Purchase order management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    A grocery store should keep track about the buy request so they can recognize the buy
                    is pertinent, normal, and cost-streamlined. Buy request is a classified information which is created
                    when the current stock is going to complete, or the stock is done or require a particular thing and
                    the document concerning that will be huge. Facilezone can save any information in a solitary
                    structure and it have an element of easy record sharing which will help the association or the
                    proprietor to share the information inside the association and furthermore unapproved access will
                    be limited likewise with the goal that your information or document will be protected and can access
                    from any stages.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'supermarket/img_5.png' %}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'supermarket/img_6.png'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Inventory control
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Stock of general store is wide and immense in light of the fact that it contains every
                     one of the stocks that goes back and forth. It isn't so easy to monitor every last bit of it and
                     furthermore there are other cycle in it which makes it more convoluted in light of the fact that
                     far beyond the business merchandise that are harmed, broken or currently utilized ought to likewise
                     be taken note. So this will be a lot of information to dealt with. Facilezone Software can assist
                     the proprietors with following along and discover ideal answer for fit every one of the information
                     in a solitary space and can be gotten to from any stages. Facilezone gives a component of Real time
                     dashboard which assist you with refreshing each datum naturally so that will assist the customer
                     with saving the time.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Customer management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Clients are the fundamental and significant factor of a general store and with out it there
                    is no development of business. Our Software assists the customer with create, manage, serve and sustain
                    the client connections. Facilezone have Easy Communication work that assists the proprietor with
                    moving their novel plans to the team part about the designs to keeps the client cheerful without
                    changing the configuration of the data so each and everybody of the group part will get the possibility
                    that will helps the client the board become all the more simple.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'supermarket/img_7.png'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'supermarket/img_13.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Estimation
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Assessment of the sum that will cost all of the interaction will be a lot of information
                     and it will require right and exact estimation to track down the precise information. Facilezone
                     assists the customer with a cost estimation tool to run the interaction which will assists the
                     customer with diminishing the pressure and inconvenience and complete the task in a simple manner
                     and furthermore this device requires the right and precise information to work out if not the
                     information may not be exact.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Invoice management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Facilezone provides the safe storage of confidential data and it prevents the unauthorized
                    access which will keep the data from other scammers. The invoice data’s are confidential and it will be
                    safe inside the Facilezone software, because the data will contain about the cash flow, accounts etc.
                    The data can be easily shared among the other people and can be accessed from any other platform from
                    anywhere.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'supermarket/img_10.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'supermarket/img_12.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Payement handling
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     There will be a ton of installment occurs in a general store every single day and every
                     one of the exchanges will cost a mass measure of information and the information is needed for
                     bookkeeping the last sum. Manage  zone assists the customer with putting away all of the installment
                     information so they can deal with and deal with the information without any problem. The put away
                     information subsequently can be effectively open to the customers for additional explanations.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Effective team talk
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Facilezone offers the simple and compelling way of talking with your group individuals so
                    they can comprehend or get familiar with the groundbreaking thought regarding how to develop the
                    business and make more outcomes. And furthermore the individuals in the teams can converse with
                    every others so the administrators doesn't have to stress over the thought which they need to give.
                    And furthermore this will assists the customer with moving the data to every single part with out
                    any adjustment of the data which will make the work all the more simple and this will cause our item
                    to turn out to be more appealing too
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'supermarket/img_9.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'supermarket/img_11.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Manage from anywhere
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                    Customer or proprietor of the association can utilize the product to complete the primary
                    activity or cycle from anyplace on the grounds that the product offers upgraded device to get to the
                    information from anyplace. Customer can undoubtedly get to the data set so they can see the business
                    advance and can act if any activity is required and can make thoughts to work on the business. They
                    can manage their representatives through this which they can follow and distinguish the information
                    of the representatives like how long they work and so on which will cause the activity to turn out
                    to be all the more simple and powerful.
                 </p>
             </div>
         </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>

</body>
{% endblock %}