{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #one{
        position: relative;
        background-image: url({% static 'telecommunications/img1.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        z-index: -1;
    }
    #two{
        position: relative;
        padding-top: 15%;
        margin-left: 7%;
        color: white;
        z-index: -1;
    }
    #three{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        padding-top: 10%;
        text-align: left;
    }
    #four{
       background-image: url({% static 'software/img.png' %});
        padding-top: 5%;
    }
    #five{
        color: black;
        font-size: 36px;
        font-family: Roboto, sans-serif;
        position: relative;
        text-align: left;
    }
    #six{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    #seven{
        font-family: Roboto, sans-serif;
        text-align: center;
    }

</style>
<body>

    <div class="container-fluid" id="one">
        <div id="two">
            <h3>
                Facilezone for Telecommunication & Media
            </h3>
            <p>
                Facilezone software can be useful in telecommunication  media industry  by which it
                helps to manage to store the data’s about all of the equipment and systems used to transmit the message.
                Facilezone provides the fast work reports function which helps you to  access the data’s from any platforms
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p id="three">
                    Easily manage your employees with Facilezone
                </p>
                <p id="six">
                    Use Facilezone to organize your employees and schedule the daily work activates.
                    The software can assist the managers to make the monitoring of the on-going works. The manage
                    Zone will precisely record and store the major information of company in automatically.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img loading="lazy" style="width: 100%; position:relative;z-index: -1" alt="Error 404!!!" src= {% static  'telecommunications/img_1.png' %}>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="four">
        <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6">
                <img loading="lazy" style="width: 100%" alt="Error404!!!" src="{% static 'software/mac.png' %}">
            </div>
            <div class="col-sm-6">
                <p id="five">
                    Loaded with interesting features
                </p>
                <p id="six">
                    Facilezone incorporated complete features and tools to manage the entire
                    business operations of your company. It’s simple and comprehensive to use. We will make it as in
                    the form that appropriate to your business requirements.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Main Features
                    </b>
                </h4>
                <p>
                    The software comes with advanced features to support the telecommunication systems.it improves the financial
                    stability of your companies and coordination among the employees. The software can improve the
                    total performance of your company without any extra fund investment.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left; margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Customer relation management
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Facilezone will help to build better relations with your customers. It support automatic
                    message delivery and offer notifications. It will help customers to stay informed about the latest
                    offers and latest policy of your company. Facilezone can serve a wide audiences at the same time
                    without a delay and network issues.it will improve the retention rate and the profitability of company.
                    it also help to reach new customers faster.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'telecommunications/img_3.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'telecommunications/img_9.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Payment due notification
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     The payment due notification future will help to avoid the service disruption. It’s
                     mostly useful to the prepaid customers. It’s an inevitable strategy to face the competitors and
                     build better customer relations. This notification will prevent the breakdown of a trust relation.
                     This is an friendly reminder which primary aim to maintain the customer relation.it can sent in the
                     form of text and emails with an invitation link.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Record keeping
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Manage will eliminate the hassle to record the customers information in physical format.
                    it automate the record keeping and documentation process.it provides security of the company data’s.
                    it can act as centralized storage that which integrate all data of all departments of your organization.
                    it proves a way to store unlimited data in indestructible way. Manage support the cloud data so it can
                    access from anywhere.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'telecommunications/img_8.png' %}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'telecommunications/img_4.png'%}" style="margin-left: 7%;height: 70%;width: 90%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Business model support
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Facilezone use to create a business model for first business or to modify your old model.
                     It will help you organize the different elements and entities to run a better business.it can deliver
                     a comprehensive and applicable model within a few minutes. The model can be generated with using both
                     graphics and text. Facilezone will transform your visionary to a practical formulation to run a
                     successful business.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Security of transaction
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    Facilezone support the integration between all modes of transaction. The identity records
                    of your customers can be keeping with this tool. Each of the transaction will only proceed if user
                    identity is verified. This will eliminate the malpractice and fraudulent attempts. Each transaction
                    details will store automatically .one of the advantage of this transaction is transparency of financial
                    transaction
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'telecommunications/img_10.png'%}" style="margin-left: 15%;height: 70%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'telecommunications/img_11.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Integration of payment gateways
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     It supports most of the transaction modes such as credit card; debit card, smart card etc.
                     You can use Facilezone as base to operate all of your financial transactions.it provides an easy way
                     and error free transaction services.it has wide number of fund transfer options.it allows transaction
                     of money between company to company and company to customer in fast and secure way. The transaction is
                     limitless it’s a great an advantage.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Branch union
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    You can add your complete branch details with a single account. The software will help you
                    connect all departments. The organized company function will improves productivity of the company.it
                    helps efficient staff management.it facilitate a data warehouse to aggregate the data as single source.
                    The data ware house make the data retrieval, modification  more easy. Facilezone provide a secure
                    storage it can prevent the unauthorized access through data encryption and password mechanisms.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'telecommunications/img_7.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'telecommunications/img_14.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Work assignment
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                     Facilezone support automated task assignment to your employees. Through this tool
                     you can create various project groups with different intentions.it will simplify the efforts the
                     managers and team leads. The can communicate the task in an easy way. Facilezone software supports
                     real-time communication on the project development stage that between the team mates. It’s very help
                     for companies that handle multiple projects at same time.
                 </p>
             </div>
         </div>
    </div>
    <div class="container-fluid" style="background-color:#2186A2;">
        <div class="row">
            <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: white;">
                    Monitoring and tracking
                </p>
                <p style="position:relative;text-align: left;margin-left:7%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: white;">
                    It is a collaborative which allows live tracking of your on-going projects.it will ensure
                    an error development of products. The stage in the project development can monitored, so that developers
                    can preceded to next stage with assured the quality of previous steps. The team leads can evaluate
                    the product more easily. This software will improve the quality of your product and services.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 col-md-6">
                <img loading="lazy" alt="Error404!!!" src="{% static 'telecommunications/img_12.png'%}" style="margin-left: 15%;height: 80%;width: 80%;margin-top: 7%;position: relative">
            </div>
        </div>
    </div>
    <div class="container-fluid" >
         <div class="row">
             <div class="col-lg-5">
                 <img loading="lazy" alt="Error404!!!" src="{% static 'telecommunications/img_13.png'%}" style="margin-left: 7%;height: 80%;width: 80%;margin-top: 7%;position: relative">
             </div>
             <div class="col-lg-7">
                <p style="position:relative;text-align: left;margin-left:20%;margin-top:3%;font-family: Roboto,sans-serif;font-style: normal;font-weight: normal;font-size: 30px;line-height: 35px;color: #545050;">
                    Chat and call centre
                </p>
                 <p style="position:relative;text-align: left;margin-left:20%;margin-top:1%;font-family: Roboto,sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 18px;color: #545050;">
                    This simple tool will help you set a call centre unless an office space. The employees
                    can work remotely and from different branches. Facilezone will help to direct your inbound and
                    outbound calls without a collision.it have automatic voice recording feature. You can keep record
                    of all complaints and concerns proposed by the customers. If you want to setup a call centre in
                    your company manage is an equitable choice for you. Sign up and try a free trail now.
                 </p>
             </div>
         </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="seven">
                <h4>
                    <b>
                        Contact Us
                    </b>
                </h4>
                <p>
                   Do you need software to manage complete business operations of your company?
                    <br>Then Facilezone is right choice for you. Sent an Enquiry now,
                    we will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>

</body>
{% endblock %}